<h1>string 입력받기</h1>
<form action="/asciify/output">
    변경하고 싶은 폰트 : <br>
    <select name="font">
      <option value="standard">standard</option>
      <option value="acrobatic">acrobatic</option>
      <option value="colossal">colossal</option>
      <option value="doh">doh</option>
    </select><br>
    <p><input type="text" name="string"><br></p>
    <input type="submit">
</form>